/******************* GENERAL TAGS *******************/

body {
  text-align: center;
  margin: 0;
  padding: 0; 
  background-color: #ffffff;
  background-image: url(https://baconlover935.github.io/bobthebuilder/usa/images/backgrounds/orange_dark.jpg);
  background-repeat: repeat-x; 
  background-position: top center;      
}
