/******************* FOOTER TAGS *******************/

div#footer_bg {
  top: 0px;
  left: 0px;
  margin: 0px 0px 20px 0px; 
  z-index: 0;
}

div#footer_properties {
  position:absolute;
  display:inline;
  width: 955px;
  top: 85px;
  left: 0px; 
  z-index: 1;
}

div#footer {
  position:absolute;
  top: 1040px;
  left: 0px; 
  text-align: center;
}

div#footer_flags {
  margin: 0px 20px 20px 20px;
  padding: 0px;
}

div#flag_text {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-family:tahoma, arial;
  font-size: 11px;
  color:#ffffff;
  line-height:20px;
}

div#foot_icon {
  display:inline;
  float: left;
  margin: 0px 2px 10px 2px;  
  padding: 0;
  border: 0;
}

div#footer_legal {
  font-family:tahoma, arial;
  font-size: 9px;
  color:#ffffff;
}

a.legal_lnk {
  color:#ffffff;
}

a.flag {  
  margin: 0px 10px 0px 10px;
}

/******************* MENU TAGS *******************/

div#hit_menu {
  position:absolute;
  top:5px;
  left: 780px;  
  z-index: 100;
}

div#menu_layer {  
  position:absolute;
  top: 40px;
  left: 226px; 
  width: 403px;
  height: 424px;
  display: none;
  z-index: 100;
}

div#menu_bg_out {  
  position:absolute;
  z-index: 101;
}

div#menu_bg {  
  position:absolute;
  top: 0px;
  left: 160px;
  z-index: 102;
}

div#menu_01 {  
  position:absolute;
  top: 25px;
  left: 188px;
  z-index: 103;
}

div#menu_02 {  
  position:absolute;
  top: 25px;
  left: 311px;
  z-index: 103;
}

div#menu_03 {  
  position:absolute;
  top: 25px;
  left: 432px;
  z-index: 103;
}

div#menu_04 {  
  position:absolute;
  top: 144px;
  left: 188px;
  z-index: 103;
}

div#menu_05 {  
  position:absolute;
  top: 144px;
  left: 311px;
  z-index: 103;
}

div#menu_06 {  
  position:absolute;
  top: 144px;
  left: 432px;
  z-index: 103;
}

div#menu_07 {  
  position:absolute;
  top: 263px;
  left: 188px;
  z-index: 103;
}

div#menu_08 {  
  position:absolute;
  top: 263px;
  left: 311px;
  z-index: 103;
}

div#menu_09 {  
  position:absolute;
  top: 263px;
  left: 432px;
  z-index: 103;
}

div#menu_10 {  
  position:absolute;
  top: 398px;
  left: 176px;
  z-index: 103;
}

div#menu_11 {  
  position:absolute;
  top: 398px;
  left: 365px;
  z-index: 103;
}
